body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: url(setup.jpg) no-repeat center;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*max-width: 1200px;*/
    /*position: relative;*/
}

.container img{
    width: 100%;
}

.hotspot{
    width: 20px;
    height: 20px;
    background-color: #9acd32;
    border-radius: 50%;
    position: absolute;
    animation: wave 1s infinite;
    cursor: pointer;
}

.monitor{
    right: 18%;
    bottom: 75%;
}

.mouse{
    left: 35%;
    bottom: 55%;
}

.keyboard{
    left: 24%;
    bottom: 54%;
}

.mousepad{
    right: 30%;
    bottom: 45%;
}

.table{
    left: 50%;
    bottom: 45%;
}

@keyframes wave{
    from{
        box-shadow: 0 0 0 0 #9acd32bb;
    }
    to{
        box-shadow: 0 0 0 10px #9acd3210;
    }
}

.hotspot::before{
    content: attr(text);
    width: max-content;
    position: absolute;
    background-color: #222222dd;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 3px;
    display: none;
}

.hotspot::after{
    content: "";
    border-color: transparent transparent #222222dd;
    border-width: 0 8px 6px;
    border-style: solid;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.hotspot:hover::before,
.hotspot:hover::after{
    display: block;
}